

.avatar {
width: 80px;
height: 80px;
border-radius: 50%;
border: 2px solid #fff;
overflow: hidden;
margin: 0 auto; /* Center horizontally */
display: flex;
justify-content: center;
align-items: center;
}

.avatar img {
width: 100%;
height: 100%;
object-fit: cover;
margin: 0 auto;
display: block;
}